$primary: #FF3464;
$yellow-pink-gradient: #FF3464;
$success: rgb(126, 171, 85);
$error: rgb(234, 51, 35);

$grey-gradient: linear-gradient(
  to bottom,
  #949494,
  #6d6d6d,
  #484848,
  #262626,
  #000000
);

$blue-gradient: linear-gradient(
  to bottom,
  #0773c2,
  #3b85cb,
  #5a98d3,
  #76aadb,
  #92bde3
);
